{% extends "layout.html" %}

{% block body %}
<nav>
    <ul>
        <li><a href="{% url 'index' %}">STICKERS</a></li>
        <li><a href="{% url 'friends' %}">FRIENDS</a></li>
        <li><a href="{% url 'settings' %}">SETTINGS</a></li>
        <li><a href="{% url 'logout' %}">LOG OUT</a></li>
    </ul>
</nav>
<h1>ENTER FRIEND'S EMAIL AND PRESS SEARCH</h1>
<form method="GET">
    <input type="text" name="friend_email" id="friend_email" placeholder="YOUR FRIEND'S EMAIL">
    <input type="submit" value="SEARCH" class="inputStylingRegister">
</form>

    {% for user in object_list %}

        <li>{{ user }}</li> 
    
        <hr/> 

        {% empty %} 
        <li>No users yet.</li> 

    {% endfor %} 

    <div class="yellowCard" style="left: 120px; bottom: 146px;"><H1>BUY MILK!!</H1></div>
    <div class="yellowCard" style="right: 100px; top: 148px;"><H1>THURSDAY 7:30PM MOVIE</H1></div>
    <div class="yellowCard" style="left: 239px; top: 224px;"><H1 style="opacity: 0.5;">YOUR FIRST NOTE</H1></div>
    <div class="yellowCard" style="left: 239px; top: 224px;"><H1 style="font-size: 200%; line-height: 50px; padding: 10px 0;">CLICK AGAIN TO DELETE</H1></div>
{% endblock %}